# This is my sample .ipynb file!
This could be your analyses files, your visualization files, etc.

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import seaborn as sns
from tqdm import tqdm
import re

# Importing the Datasets


- WFH - % with access to a "flexible workplace"
- turnover - quit_rate
- productivity - % change in output per hour
- compensation - 12 months % change in wage

In [2]:
WFH = pd.read_csv('../stash-ka/inputs/employee_benefits.csv')
WFH.rename(columns = {'Series title ':'Industry'}, inplace = True)
WFH.rename(columns = {'Estimate':'% with access to "flexible workplace"'}, inplace = True)
WFH

,Series ID,Industry,Year,"% with access to ""flexible workplace""",Estimate footnote,Standard error,Standard error footnote,Survey code,Survey text,Ownership code,...,Occupation text,Subcell code,Job characteristic category,Job characteristic,Estimate code,Estimate text,Datatype code,Datatype text,Provision code,Provision text
0,NBU17360000000000033357,Percent of civilian workers with access to fle...,2010,3,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
1,NBU17360000000000033357,Percent of civilian workers with access to fle...,2011,3,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
2,NBU17360000000000033357,Percent of civilian workers with access to fle...,2012,3,NaN,0.5,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
3,NBU17360000000000033357,Percent of civilian workers with access to fle...,2013,3,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
4,NBU17360000000000033357,Percent of civilian workers with access to fle...,2014,3,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,NBU373S0000000000033357,Percent of state and local government workers ...,2018,4,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
475,NBU373S0000000000033357,Percent of state and local government workers ...,2019,4,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
476,NBU373S0000000000033357,Percent of state and local government workers ...,2020,4,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
477,NBU373S0000000000033357,Percent of state and local government workers ...,2021,5,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
478,NBU373S0000000000033357,Percent of state and local government workers ...,2022,5,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace

In [3]:
industry_name_list=[]

for industry in WFH['Industry']:
    industry_name = industry.split('in ')[1].capitalize()
    industry_name_list.append(industry_name)
    
WFH['Industry'] = industry_name_list

In [4]:
turnover = pd.read_csv('../stash-ka/inputs/turnover.csv')

In [5]:
turnover.rename(columns = {'Series Id':'Industry'}, inplace = True)
turnover.rename(columns = {'Value':'quit_rate'}, inplace = True)
turnover

     Year                                           Industry  quit_rate
0    2010                                      Total Private        1.6
1    2011                                      Total Private        1.7
2    2012                                      Total Private        1.7
3    2013                                      Total Private        1.9
4    2014                                      Total Private        2.0
..    ...                                                ...        ...
346  2018  State and local government education, excludin...        0.8
347  2019  State and local government education, excludin...        0.8
348  2020  State and local government education, excludin...        0.8
349  2021  State and local government education, excludin...        1.0
350  2022  State and local government education, excludin...        1.1

[351 rows x 3 columns]

In [6]:
productivity = pd.read_csv('../stash-ka/inputs/output_per_hour_pct.csv')
productivity

     Year  % change in output per hour       Industry
0    2011                         -2.7      Utilities
1    2012                         -0.9      Utilities
2    2013                         -0.6      Utilities
3    2014                          0.6      Utilities
4    2015                         -0.7      Utilities
..    ...                          ...            ...
204  2017                         -1.1  Manufacturing
205  2018                          0.2  Manufacturing
206  2019                         -2.4  Manufacturing
207  2020                          0.4  Manufacturing
208  2021                          1.8  Manufacturing

[209 rows x 3 columns]

In [8]:
compensation = pd.read_csv('../stash-ka/inputs/pct_change_compensation.csv')
compensation

     Year 12 months pct change in wage  Estimate Value  Standard Error
0    2010                    Utilities             2.0             0.4
1    2011                    Utilities             2.8             0.2
2    2012                    Utilities             2.4             0.2
3    2013                    Utilities             2.9             0.2
4    2014                    Utilities             2.5             0.3
..    ...                          ...             ...             ...
255  2018            Service-providing             3.2             0.2
256  2019            Service-providing             2.9             0.1
257  2020            Service-providing             2.9             0.1
258  2021            Service-providing             5.2             0.2
259  2022            Service-providing             5.2             0.2

[260 rows x 4 columns]

# EDA
We envision a singular WFH dataset that encompasses the main variables from all of the imported datasets. More specifically, it would contain the following variables: 
 - Year (across all datasets)
 - Industry (across all datasets)
 - WFH % (WFH dataset)
 - Quit_rate (Turnover dataset)
 - % change in output per hour (Productivity dataset)
 - % change in average wage (Compensation dataset)

### WFH
The dataset 

### Turnover
### Productivity
### Compensation

This dataset describes the land in Ames, IA (city of Iowa State University) that was sold between 2006 and 2008. The observation unit is each parcel of land in the city's jurisdiction that was sold during the given time frame and the dataset contains 1941 observations. 

Some immediate issues with the data include variables with missing data. Variables that contain information that not every parcel of land might have have many holes. For example, variables like Misc_Feature (Miscellaneous features not covered in other categories, ex. elevator, shed, tennis court), Pool_QC (Pool quality), and variables that relate to basements or garages have many NaN values because it is understandable that many houses don't have these features. Most of the variables that have NaN values are categorical, this makes sense because most of the discrete values in the dataset relate to either quantity or value. For a categorical value, if a parcel of land does not contain what's in the variable, it will receive a NaN value while its discrete component will instead have a value of zero. So while Pool_QC has a NaN value, Pool_Area would just have a value of zero instead. 

The dataset contains a vast array of data types throughout. Many discrete variables are what one might expect. Variables that relate to count or date are discrete because they have finite ranges and are countable. Some examples include `['v_Yr_Sold']` (Year sold) or `['v_Fireplaces']` (Number of fireplaces). On the other hand, there are also continuous variables like `['v_Lot_Area']` (Lot size in sq ft.). These variable are continuous because they are much more precise and can be any of infinity numbers within a specified range. Other variables that relate to size, length, area, value, or price are continuous. 

The rest are categorical variables which are further broken down into either nominal or ordinal data. The nominal data describes the specific variable as it relates to each parcel of land, for example, `['v_MS_Zoning']` describes the zoning classification of each parcel and `['v_Street']` describes the type of road access to each parcel (gravel or paved). The ordinal data classifies each variable in a ranking as it relates to each parcel of land. `['v_Pool_Qc']` describes the quality of the pool on each parcel of land (There are many NaN values for this variable). The variable only has five possible values in it: Ex-Excellent, Gd-Good, TA-Typical/Average, Fa-Fair, NA-No Pool. What separates this from the nominal variables is that this variable describes one thing, the pool quality, and *ranks* the characteristics of that one thing. In comparison, in `['v_Street']`, where the two options are "gravel" or "paved", the variable is not being ranked, it is just being described. 

The housing data description breaks each variable down into its specific data type. `(input_data2/housing_data_description.txt)`