# This is my sample .ipynb file!
This could be your analyses files, your visualization files, etc.

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import seaborn as sns
from tqdm import tqdm
import re

# Big Problem with data

Some of the names of industries are not the same across all of the dataframes

In [2]:
WFH = pd.read_csv('../stash-ka/inputs/employee_benefits.csv')
WFH.info()
WFH.rename(columns = {'Series title ':'Industry'}, inplace = True)
WFH.rename(columns = {'Estimate':'% with access to "flexible workplace"'}, inplace = True)
WFH

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Series ID                    479 non-null    object
 1   Series title                 479 non-null    object
 2   Year                         479 non-null    int64
 3   Estimate                     479 non-null    object
 4   Estimate footnote            4 non-null      float64
 5   Standard error               479 non-null    float64
 6   Standard error footnote      0 non-null      float64
 7   Survey code                  479 non-null    object
 8   Survey text                  479 non-null    object
 9   Ownership code               479 non-null    int64
 10  Ownership text               479 non-null    object
 11  Industry code                479 non-null    object
 12  Industry text                479 non-null    object
 13  Occupation code              479 non-null    int64
 14  Occupation text              479 non-null    object
 15  Subcell code                 479 non-null    int64
 16  Job characteristic category  479 non-null    object
 17  Job characteristic           479 non-null    object
 18  Estimate code                479 non-null    int64
 19  Estimate text                479 non-null    object
 20  Datatype code                479 non-null    int64
 21  Datatype text                479 non-null    object
 22  Provision code               479 non-null    int64
 23  Provision text               479 non-null    object
dtypes: float64(3), int64(7), object(14)
memory usage: 89.9+ KB

,Series ID,Industry,Year,"% with access to ""flexible workplace""",Estimate footnote,Standard error,Standard error footnote,Survey code,Survey text,Ownership code,...,Occupation text,Subcell code,Job characteristic category,Job characteristic,Estimate code,Estimate text,Datatype code,Datatype text,Provision code,Provision text
0,NBU17360000000000033357,Percent of civilian workers with access to fle...,2010,3,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
1,NBU17360000000000033357,Percent of civilian workers with access to fle...,2011,3,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
2,NBU17360000000000033357,Percent of civilian workers with access to fle...,2012,3,NaN,0.5,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
3,NBU17360000000000033357,Percent of civilian workers with access to fle...,2013,3,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
4,NBU17360000000000033357,Percent of civilian workers with access to fle...,2014,3,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,1,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
474,NBU373S0000000000033357,Percent of state and local government workers ...,2018,4,NaN,0.7,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
475,NBU373S0000000000033357,Percent of state and local government workers ...,2019,4,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
476,NBU373S0000000000033357,Percent of state and local government workers ...,2020,4,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
477,NBU373S0000000000033357,Percent of state and local government workers ...,2021,5,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace
478,NBU373S0000000000033357,Percent of state and local government workers ...,2022,5,NaN,0.6,NaN,IP,Incidence and Key Provision Benefits,3,...,All occupations,0,All workers,All workers,73,Quality of life benefits,33,Percent of workers with access,357,Flexible workplace

In [3]:
industry_name_list=[]

for industry in WFH['Industry']:
    industry_name = industry.split('in ')[1].capitalize()
    industry_name_list.append(industry_name)
    
    
WFH['Industry'] = industry_name_list

In [4]:
turnover = pd.read_csv('../stash-ka/inputs/turnover.csv')

In [5]:
turnover.info()
turnover.rename(columns = {'Series Id':'Industry'}, inplace = True)
turnover.rename(columns = {'Value':'quit_rate'}, inplace = True)
turnover

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       351 non-null    int64
 1   Series Id  351 non-null    object
 2   Value      351 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.4+ KB

     Year                                           Industry  quit_rate
0    2010                                      Total Private        1.6
1    2011                                      Total Private        1.7
2    2012                                      Total Private        1.7
3    2013                                      Total Private        1.9
4    2014                                      Total Private        2.0
..    ...                                                ...        ...
346  2018  State and local government education, excludin...        0.8
347  2019  State and local government education, excludin...        0.8
348  2020  State and local government education, excludin...        0.8
349  2021  State and local government education, excludin...        1.0
350  2022  State and local government education, excludin...        1.1

[351 rows x 3 columns]

In [6]:
productivity = pd.read_csv('../stash-ka/inputs/output_per_hour_pct.csv')
productivity

     Year  % change in output per hour       Industry
0    2011                         -2.7      Utilities
1    2012                         -0.9      Utilities
2    2013                         -0.6      Utilities
3    2014                          0.6      Utilities
4    2015                         -0.7      Utilities
..    ...                          ...            ...
204  2017                         -1.1  Manufacturing
205  2018                          0.2  Manufacturing
206  2019                         -2.4  Manufacturing
207  2020                          0.4  Manufacturing
208  2021                          1.8  Manufacturing

[209 rows x 3 columns]