# This is my sample .ipynb file!
This could be your analyses files, your visualization files, etc.

In [1]:
import pandas as pd
import os
import numpy as np
import matplotlib.pyplot as plt
import pandas_datareader as pdr
import seaborn as sns
from tqdm import tqdm
import re

In [2]:
test = pd.read_csv('../stash-ka/inputs/employee_benefits.csv')
test.info()
test.rename(columns = {'Series title ':'Industry'}, inplace = True)
test.rename(columns = {'Estimate':'% with access to "flexible workplace"'}, inplace = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Series ID                    479 non-null    object
 1   Series title                 479 non-null    object
 2   Year                         479 non-null    int64
 3   Estimate                     479 non-null    object
 4   Estimate footnote            4 non-null      float64
 5   Standard error               479 non-null    float64
 6   Standard error footnote      0 non-null      float64
 7   Survey code                  479 non-null    object
 8   Survey text                  479 non-null    object
 9   Ownership code               479 non-null    int64
 10  Ownership text               479 non-null    object
 11  Industry code                479 non-null    object
 12  Industry text                479 non-null    object
 13  Occupation code              479 non-null    int64
 14  Occupation text              479 non-null    object
 15  Subcell code                 479 non-null    int64
 16  Job characteristic category  479 non-null    object
 17  Job characteristic           479 non-null    object
 18  Estimate code                479 non-null    int64
 19  Estimate text                479 non-null    object
 20  Datatype code                479 non-null    int64
 21  Datatype text                479 non-null    object
 22  Provision code               479 non-null    int64
 23  Provision text               479 non-null    object
dtypes: float64(3), int64(7), object(14)
memory usage: 89.9+ KB

In [3]:
industry_name_list=[]

for industry in test['Industry']:
    industry_name = industry.split('in ')[1].capitalize()
    industry_name_list.append(industry_name)
    
    
test['Industry'] = industry_name_list

In [4]:
turnover = pd.read_csv('../stash-ka/inputs/turnover.csv')

In [5]:
turnover.info()
turnover.rename(columns = {'Series title ':'Industry'}, inplace = True)
turnover.rename(columns = {'Value':'quit_rate'}, inplace = True)
turnover

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351 entries, 0 to 350
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Year       351 non-null    int64
 1   Series Id  351 non-null    object
 2   Value      351 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 8.4+ KB

     Year                                          Series Id  quit_rate
0    2010                                      Total Private        1.6
1    2011                                      Total Private        1.7
2    2012                                      Total Private        1.7
3    2013                                      Total Private        1.9
4    2014                                      Total Private        2.0
..    ...                                                ...        ...
346  2018  State and local government education, excludin...        0.8
347  2019  State and local government education, excludin...        0.8
348  2020  State and local government education, excludin...        0.8
349  2021  State and local government education, excludin...        1.0
350  2022  State and local government education, excludin...        1.1

[351 rows x 3 columns]